@model MVC.Models.Place

@{
    ViewData["Title"] = "Удалить мероприятие";
}

<h4>Удалить мероприятие</h4>

<h5>Подтвердить удаление?</h5>
<div>
    <h4>Место</h4>
    <hr />
    <dl>
        @{
            string startWorkValue = @Model.StartWork.ToShortTimeString();
            string endWorkValue = @Model.EndWork.ToShortTimeString();
        }
        <dt>Тип мероприятия </dt>
        <dd>
            @Html.DisplayFor(model => model.PlaceType.Name)
        </dd>
        <dt>Название</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>Район</dt>
        <dd>
            @Html.DisplayFor(model => model.Area.Name)
        </dd>
        <dt>Адрес</dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>Телефон</dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>Сайт</dt>
        <dd>
            @Html.DisplayFor(model => model.Site)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>Начало работы</dt>
        <dd>
            @Html.DisplayFor(model => startWorkValue)
        </dd>
        <dt>Конец работы</dt>
        <dd>
            @Html.DisplayFor(model => endWorkValue)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
