@model MVC.Models.Place

@{
    ViewData["Title"] = "Details";
}

<h2>Подробности</h2>

<div>
    <h4>Место</h4>
    <hr />
    <dl>
        <dt>Название</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>Адрес</dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>Сайт</dt>
        <dd>
            @Html.DisplayFor(model => model.Site)
        </dd>
        <dt>Тип места </dt>
        <dd>
            @Html.DisplayFor(model => model.PlaceType.Name)
        </dd>
        <dt>Район</dt>
        <dd>
            @Html.DisplayFor(model => model.Area.Name)
        </dd>
        <dt>Начало работы</dt>
        <dd>
            @Html.DisplayFor(model => model.StartWork.ToShortTimeString())
        </dd>
        <dt>Конец работы</dt>
        <dd>
            @Html.DisplayFor(model => model.EndWork)
        </dd>
        <dt>Телефон</dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
