@model MVC.Models.Place

@{
    ViewData["Title"] = "Подробности";
}

<h3>Информация о мероприятии</h3>

<div>
   @* <h4>Мероприятие</h4>*@
    <hr />
    <dl class="dl-horizontal" style="font-size:16px">
        @{
            string startWorkValue = @Model.StartWork.ToShortTimeString();
            string endWorkValue = @Model.EndWork.ToShortTimeString();
        }

        <dt>Тип мероприятия </dt>
        <dd>
            @Html.DisplayFor(model => model.PlaceType.Name)
        </dd>
        <dt>Название</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>Район</dt>
        <dd>
            @Html.DisplayFor(model => model.Area.Name)
        </dd>
        <dt>Адрес</dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>Телефон</dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>Сайт</dt>
        <dd>
            @Html.DisplayFor(model => model.Site)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>Начало работы</dt>
        <dd>
            @Html.DisplayFor(model => startWorkValue)
        </dd>
        <dt>Конец работы</dt>
        <dd>
            @Html.DisplayFor(model => endWorkValue)
        </dd>

    </dl>
</div>
@if (User.Identity.IsAuthenticated)
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
        <a asp-action="Index">Вернуться к списку</a>
    </div>
}