@model IEnumerable<MVC.Models.Visit>

@{
    ViewData["Title"] = "Index";
}

<h2>Посещения</h2>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Пользователь</th>
            <th>Место</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string dateValue = item.DateVisit.ToShortDateString();
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => dateValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
