@using MVC.ViewModels
@using MVC.Models
@model IndexEventsViewModel
@{
    ViewData["Title"] = "Мероприятия";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">Поиск по параметрам</h2>
    </div>
    <div class="panel-body">
        <form asp-action="Find" class="form-inline">
            <div class="form-group">
                <label class="control-label">Тип мероприятия</label>
                <select class="form-control" asp-items="@(new SelectList(Model.PlaceTypes, "Id","Name"))" asp-for="PlacetypeId">
                    <option value="0">Все</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Районы</label>
                <select class="form-control" asp-items="@(new SelectList(Model.Areas, "Id","Name"))" asp-for="AreaId">
                    <option value="0">Все</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Открыто сейчас</label>
                <input class="form-control" type="checkbox" style="width:33px; height:33px;" asp-for="OpenNow" />
            </div>
            <div class="form-group">
                <label class="control-label">C</label>
                <input asp-for="StartTime" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">По</label>
                <input asp-for="EndTime" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary">Найти</button>
        </form>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">@ViewData["Title"]</h4>
    </div>
    <div class="panel-body">
        <div class="form-group" style="margin-top: 15px;">
            @foreach (PlaceType p in Model.PlaceTypes)
            {
                <button type="button" class="btn btn-primary btn-circle" onclick="window.location.href='@Url.Action("PlacesByType", "Home", new {placetypeId = @p.Id})'">@p.Name</button>
            }
        </div>
    </div>
</div>
