@using MVC.ViewModels
@using MVC.Models
@model IndexPlaceInArea

@{
    ViewData["Title"] = "Результаты поиска";
}

<h3>Результаты поиска</h3>

<div class="row">
    <div class="col-md-6">
        <form asp-action="IndexPlaceInArea" >
            <input type="hidden" asp-for="PlacetypeId">
        <div>
            <label class="control-label">Район</label>
            <select class="form-control" asp-for="AreaId" asp-items="@(new SelectList(Model.Areas, "Id","Name"))" onchange="this.form.submit()"></select>
        </div>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Тип места</th>
                    <th>Время начала работы</th>
                    <th>Время окончания работы</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Places)
                {
                    string startWorkValue = item.StartWork.ToShortTimeString();
                    string endWorkValue = item.EndWork.ToShortTimeString();
                    <tr onclick="window.location.href='@Url.Action("Details", "Place", new {id = item.Id })'">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlaceType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => startWorkValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => endWorkValue)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
